<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    
    <header></header>


    <main>

        <form action="./">

        <label> Nombre y Apellido: <input type="text"></label>
        <br>

        <label> Nombre de usuario: <input type="text"></label>
        <br>

        <label> Email: <input type="email"></label>
        <br>

        <label> Fecha de nacimiento: <input type="date"></label>
        <br>

        <label> Domicilio: <input type="text"></label>
        <br>

        <label> Perfil de Usuario:
            <br>
            <label>Comprar <input type="radio" id="comprar" name="perfilDeUsuario"></label>
            <label>Vender <input type="radio" id="vender" name="perfilDeUsuario"></label>
        </label>
        <br>

        <label>Categorias de Interes:
            <br>
            <input type="checkbox" id="electro" name="electro"><label>Electro</label>
            <br>
            <input type="checkbox" id="moda" name="moda"><label>Moda</label>
            <br>
            <input type="checkbox" id="hogar" name="hogar"><label>Hogar</label>
            <br>
            <input type="checkbox" id="jugueteria" name="jugueteria"><label>Jugueteria</label>
            <br>
            <input type="checkbox" id="vidaSana" name="vidaSana"><label>Vida Sana</label>
            <br>
        </label>

        <label>Foto de Usuario: <input type="file"></label>
        <br>

        <label>Constraseña: <input type="password"></label>
        <br>

        <label>Confirmar Contraseña: <input type="password"></label>
        <br>

        <button type="reset">Limpiar</button>
        <button type="submit">Enviar</button>

        
    </form>
       



    </main>

    <footer></footer>

</body>
</html>